<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.progmob.android.friendkeeper">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> <!-- Custom Permission -->
    <permission
        android:name="com.progmob.android.friendkeeper.PERMISSION_RECEIVE_NOTIFICATIONS"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FriendKeeper">

        <!-- OutLogged Activity -->
        <activity
            android:name=".ui.activities.OutLoggedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Logged Activity -->
        <activity
            android:name=".ui.activities.LoggedActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Notification Receiver -->
        <receiver
            android:name=".utils.NotificationReceiver"
            android:exported="true"
            android:permission="com.progmob.android.friendkeeper.PERMISSION_RECEIVE_NOTIFICATIONS">
            <intent-filter>
                <action android:name="com.progmob.android.friendkeeper.NOTIFICATION_EVENT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
